<div class="ContentFull ScrollArea">
	<div id="Targets">
		
	</div>
	<div id="Buttons">
		<button type="button" class="IconSmall fa-send" onclick="Register('test')">
			Register
		</button>
		<button type="button" class="IconSmall fa-send" onclick="Share('test')">
			Share
		</button>
		<button type="button" class="IconSmall fa-send" onclick="Unshare('test')">
			Unshare
		</button>
		<button type="button" class="IconSmall fa-send" onclick="Accept('test')">
			Accept
		</button>
		<button type="button" class="IconSmall fa-send" onclick="Decline('test')">
			Decline
		</button>
		<button type="button" class="IconSmall fa-send" onclick="Send('test')">
			Send test
		</button>
		<button type="button" class="IconSmall fa-send" onclick="Sendowner('test')">
			Send owner
		</button>
	</div>
</div>
<link rel="stylesheet" href="Progdir:Css/main.css"/>
<script src="Progdir:Scripts/main_gui.js"></script>
